
.top_stateful-wrapper {
	display: contents;
}
.top {
	visibility: hidden; /* visible when is */
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;

	display: grid;
	grid-template: "sidebar main" auto / max-content auto;
	justify-content: stretch;
	align-items: stretch;

	padding: 1ch;
	gap: 1ch;
}
.top > :nth-child(1) {
	grid-area: sidebar;
	display: grid;
	align-content: flex-start;
}
.top > :nth-child(2) {
	grid-area: main;
}

.picker {
	display: grid;
	float: right;

	padding: 1ch;
}