
.trickfeed {
	overflow: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y proximity;

	height: 5em;
	display: grid;
	grid-template-columns: minmax(5em, max-content);
	grid-template-rows: minmax(5em, auto);
	grid-auto-flow: column dense;
	justify-content: stretch;
	align-items: stretch;
}

/*
The :first-child is the last visual element.
The :last-child is the 2nd-last visual element.
The :nth-child(2) is the 2nd visual element.
*/
.item {
	overflow-anchor: none;
	display: none;
}
:first-child.item {
	display: initial;
}
:hover.item {
	overflow-anchor: auto;
	display: initial;
}
:hover.item + .item {
	display: initial;
}