@import "style/normalize";
@import "style/util";

.top {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    display: grid;
    grid-template: "sidebar main" auto / 3.0em auto;
    justify-content: stretch;
    align-items: stretch;
}